# e-ncs 평가 제출 파일

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

### [빅데이터 분석을 위한 통계 이론]

__1. 유클리디안 거리, 코사인 유사도 및 거리에 대해 설명하시오. (코드를 예로 들어서)__

└유클리디안 거리란 두 벡터 사이 거리의 계산 방법 중 하나로,  
- 각 차원 요소의 산술 차이값을 제곱하여 모든 차원에 대해 더한 값의 제곱근으로 계산한다.  
- 값의 범위는 (-inf,inf) 이며 작은 값일 수록 두 벡터의 정보가 유사하다고 할 수 있다.

In [4]:
# euclidean distance
a = np.array([1,8,56,4,7,4,67]) # 7차원 벡터 a
b = np.array([2,7,2,61,7,1,16]) # 7차원 벡터 a

# euclid(a,b) = 93.68564457802486
diff = a-b
diff_square = np.square(diff)
diff_square_sum = np.sum(diff_square)
euclidean_distance = np.sqrt(diff_square_sum)
euclidean_distance

93.68564457802486

In [7]:
# 만들어진 메소드를 활용하는 방법도 있다
from scipy.spatial import distance
distance.euclidean(a,b)

93.68564457802486

└코사인 유사도란 두 벡터 사이 유사도를 계산하는 방법 중 하나로,  
- 두 벡터의 내적값을 각 벡터의 norm으로 나누어 계산한다.  
- 스케일이 다른 두 성격의 데이터도 각도가 고려되기 때문에 신뢰있는 값을 얻을 수 있다.  
- [-1,1] 의 범위를 가지며, 절대값이 클수록 유사도가 높은 데이터라 분석할 수 있다.  
- 코사인 거리란 1에서 코사인 유사도를 뺀 값으로 0에 가까운 수치일수록 두 데이터가 유사하다고 판단하는 수치이다.

In [11]:
# cosine similarity
a = np.array([1,8,56,4,7,4,67]) # 7차원 벡터 a
b = np.array([2,7,2,61,7,1,16]) # 7차원 벡터 a

# cosine_similarity(a,b) = 0.2731852825325623
dot_ab = np.dot(a,b)
a_norm = np.linalg.norm(a)
b_norm = np.linalg.norm(b)
cosine_similarity = dot_ab/(a_norm*b_norm)
cosine_similarity

0.2731852825325623

In [13]:
# 만들어진 메소드를 활용할 수도 있다.
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(a.reshape(1,-1),b.reshape(1,-1))

array([[0.27318528]])

__2. 표준화와 정규화에 대해 정의하고, 수식에 대해 설명하시오(코드를 예로 들어서)__

└표준화란 데이터의 스케일을 바꾸는 방법 중 하나로,  
- 전체 데이터의 평균과 표준편차를 구하고  
- 각 데이터를 `(데이터-평균)/표준편차` 로 맵핑하여 업데이트한다.

In [17]:
# standardize
sample = np.array([1,8,56,4,7,4,67,40,2]) # 9 차원 벡터
sample_mean = sample.mean()
sample_std = sample.std()
sample_standardized = (sample-sample_mean)/sample_std
sample_standardized

array([-0.81604335, -0.53042818,  1.42807586, -0.69363685, -0.57123034,
       -0.69363685,  1.8768997 ,  0.77524118, -0.77524118])

In [20]:
# 만들어진 메소드를 활용할 수도 있다.
from sklearn.preprocessing import StandardScaler

sample_standardized = StandardScaler().fit_transform(sample.reshape(-1,1))
sample_standardized

array([[-0.81604335],
       [-0.53042818],
       [ 1.42807586],
       [-0.69363685],
       [-0.57123034],
       [-0.69363685],
       [ 1.8768997 ],
       [ 0.77524118],
       [-0.77524118]])

└정규화란 데이터의 스케일을 바꾸는 방법 중 하나로,  
- 전체 데이터의 최소값과 최대값를 구하고  
- 각 데이터를 `(데이터-최소값)/(최대값-최소값)` 로 맵핑하여 업데이트한다.

In [21]:
# normalize
sample = np.array([1,8,56,4,7,4,67,40,2]) # 9 차원 벡터
sample_min = sample.max()
sample_max = sample.min()
sample_normalized = (sample-sample_min)/(sample_max-sample_min)
sample_normalized

array([ 1.        ,  0.89393939,  0.16666667,  0.95454545,  0.90909091,
        0.95454545, -0.        ,  0.40909091,  0.98484848])

In [22]:
# 만들어진 메소드를 활용할 수도 있다.
from sklearn.preprocessing import MinMaxScaler

sample_normalized = MinMaxScaler().fit_transform(sample.reshape(-1,1))
sample_normalized

array([[0.        ],
       [0.10606061],
       [0.83333333],
       [0.04545455],
       [0.09090909],
       [0.04545455],
       [1.        ],
       [0.59090909],
       [0.01515152]])

### [파이썬 분석 및 시각화 라이브러리]

__1. 타이타닉 데이터에 대해 아래와 같은 작업을 수행하시오.__  


1) Pclass를 원핫인코딩  
2) Age를 이산화(5개 구간으로 나눔)  
3) embarked를 원핫인코딩

In [23]:
data = pd.read_csv('C:/임시/titanic/train.csv')

1) Pclass를 원핫인코딩

In [24]:
pd.get_dummies(data.Pclass,dummy_na=True)

     1.0  2.0  3.0  NaN
0      0    0    1    0
1      1    0    0    0
2      0    0    1    0
3      1    0    0    0
4      0    0    1    0
..   ...  ...  ...  ...
886    0    1    0    0
887    1    0    0    0
888    0    0    1    0
889    1    0    0    0
890    0    0    1    0

[891 rows x 4 columns]

2) Age를 이산화(5개 구간으로 나눔)

In [25]:
pd.cut(data.Age,bins=5)

0      (16.336, 32.252]
1      (32.252, 48.168]
2      (16.336, 32.252]
3      (32.252, 48.168]
4      (32.252, 48.168]
             ...
886    (16.336, 32.252]
887    (16.336, 32.252]
888                 NaN
889    (16.336, 32.252]
890    (16.336, 32.252]
Name: Age, Length: 891, dtype: category
Categories (5, interval[float64]): [(0.34, 16.336] < (16.336, 32.252] < (32.252, 48.168] < (48.168, 64.084] < (64.084, 80.0]]

3) embarked를 원핫인코딩

In [26]:
pd.get_dummies(data.Embarked,dummy_na=True)

     C  Q  S  NaN
0    0  0  1    0
1    1  0  0    0
2    0  0  1    0
3    0  0  1    0
4    0  0  1    0
..  .. .. ..  ...
886  0  0  1    0
887  0  0  1    0
888  0  0  1    0
889  1  0  0    0
890  0  1  0    0

[891 rows x 4 columns]

__2. bins = [5, 20, 30, 40, 60, 90]  
labels = ["미성년자", "청년", "중년", "장년", "노년"]  
타이타닉호 승객을 사망자와 생존자 그룹으로 나누고 각 그룹에 대해 '미성년자', '청년', '중년', '장년', '노년' 승객의 비율을 구한다. 각 그룹 별로 비율의 전체 합은 1이 되어야 한다.__

In [31]:
bins = [5, 20, 30, 40, 60, 90]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
data['Age_Label'] = pd.cut(data.Age,bins=bins,labels=labels)
res = data.groupby(['Survived'])['Age_Label'].value_counts(normalize=True)
res.unstack()

Age_Label        노년      미성년자        장년        중년        청년
Survived
0          0.041363  0.204380  0.189781  0.209246  0.355231
1          0.019305  0.196911  0.193050  0.266409  0.324324