# Decision Tree
순도 , 엔트로피 , 정보획득량(분할 전후 엔트로피 차이)

In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath = 'D:/downloads/titanic/'

In [3]:
train = pd.read_csv(filepath+'train.csv')
train.shape

(891, 12)

In [4]:
test = pd.read_csv(filepath+'test.csv')
test.shape

(418, 11)

In [5]:
train['Gender'] = np.where(train.Sex=='male',True,False)
test['Gender'] = np.where(test.Sex=='male',True,False)
train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False

In [6]:
train['Age_mean'] = train.Age.where(train.Age.notnull(),train.Age.mean())
test['Age_mean'] = test.Age.where(test.Age.notnull(),test.Age.mean())
test['Age_mean'].isnull().sum()

0

In [7]:
train['Embarked_S'] = train['Embarked']=='S'
train['Embarked_C'] = train['Embarked']=='C'
train['Embarked_Q'] = train['Embarked']=='Q'
test['Embarked_S'] = test['Embarked']=='S'
test['Embarked_C'] = test['Embarked']=='C'
test['Embarked_Q'] = test['Embarked']=='Q'

In [9]:
train['Pclass1'] = train['Pclass']==1
train['Pclass2'] = train['Pclass']==2
train['Pclass3'] = train['Pclass']==3
test['Pclass1'] = test['Pclass']==1
test['Pclass2'] = test['Pclass']==2
test['Pclass3'] = test['Pclass']==3

In [10]:
from sklearn.tree import DecisionTreeClassifier

fn = ['Gender', 'Age_mean','Embarked_S', 'Embarked_C', 'Embarked_Q','Pclass1', 'Pclass2', 'Pclass3']
xTrain = train[fn]
yLabel = train['Survived']
xTest = test[fn]



model = DecisionTreeClassifier(max_depth=len(fn)//2,random_state=2020)
model.fit(xTrain,yLabel)
prediction = model.predict(xTest)

In [11]:
test['Survived']=prediction
res = test[['PassengerId','Survived']]
res.to_csv('mysubmit_0922.csv',index=False)

***