# 잠을 깨며 TF-IDF 계산 직접해보기 실습

In [1]:
docs =[
    '먹고 싶은 사과',
    '먹고 싶은 바나나',
    '길고 노란 바나나 바나나',
    '저는 과일이 좋아요'
]

DTM 만들기

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
DTM = cv.fit_transform(docs).toarray()
DTM_df = pd.DataFrame(DTM,columns=cv.vocabulary_.keys())
DTM_df

   먹고  싶은  사과  바나나  길고  노란  저는  과일이  좋아요
0   0   0   0    1   0   1   1    0    0
1   0   0   0    1   1   0   1    0    0
2   0   1   1    0   2   0   0    0    0
3   1   0   0    0   0   0   0    1    1

IDF 계산해 놓기

In [3]:
def get_idf(col):
    L = len(col)
    not_in = (col==0).sum()
    return np.log(L/(L-not_in+1))

IDF = DTM_df.apply(get_idf)
IDF

먹고     0.693147
싶은     0.693147
사과     0.693147
바나나    0.287682
길고     0.287682
노란     0.693147
저는     0.287682
과일이    0.693147
좋아요    0.693147
dtype: float64

TF - IDF 계산

In [4]:
def get_tfidf(col):
    col = col*IDF
    return col

TFIDF = DTM_df.apply(get_tfidf,axis=1)
TFIDF

,먹고,싶은,사과,바나나,길고,노란,저는,과일이,좋아요
0,0.000000,0.000000,0.000000,0.287682,0.000000,0.693147,0.287682,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.287682,0.287682,0.000000,0.287682,0.000000,0.000000
2,0.000000,0.693147,0.693147,0.000000,0.575364,0.000000,0.000000,0.000000,0.000000
3,0.693147,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.693147,0.693147